.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
}

.fighter-preview___right {
  align-items: flex-end;
  height: 300px;
}

.fighter-preview___left {
  align-items: flex-start;
  height: 300px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighters___text___left {
  text-align: flex-start;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
  background: #ffdfa7;
  border: 2px solid #ca9650;
}

.fighters___text___right {
  text-align: flex-end;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
  background: #ffdfa7;
  border: 2px solid #ca9650;
}

.fighters___info___right {
  text-align: flex-end;
  max-width: 100px;
  padding: 5px;
  margin: 20px;
  font-size: 20px;
  background: #ffdfa7;
  border: 2px solid #ca9650;
}

.fighters___info___left {
  text-align: flex-start;
  max-width: 100px;
  padding: 5px;
  margin: 20px;
  font-size: 20px;
  background: #ffdfa7;
  border: 2px solid #ca9650;
}